.main-nav{
	width:100%;
	height:80px;
	background-color:rgba(255,255,255,0.2);
	position:absolute;
	top:0;
	left: 0;
	z-index:5;
	border-bottom: 1px solid rgba(255,255,255,0.5);  
}

.main-nav-contents::after{
	content: "";
    clear: both;
    display: block;
}

.main-nav-contents{	
	width:1500px;
	height:100%;
	margin:auto;
}

.mobile-main-nav-contents{
	width:370px;
	margin: auto;
	background-color: red;
}
.mobile-main-nav-contents>h1{
}

.main-logo{
	width:100px;
	margin:5px 0;
	cursor: pointer;
	transition: all 0.2s ease-in;
	text-align: center;
}

.main-logo:hover{
	width:105px;
}

.row-align{
	display: flex;
}

.row-align > li{
	transition: 0.8s;	
	font-size: 22px;
	color:rgba(255, 255, 255, 1);
	line-height:80px;
	margin:0 15px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.row-align li a { 
	color:white;
	-webkit-transition:.8s;
    -moz-transition:.8s;
    -ms-transition:.8s;
    -o-transition:.8s;
    transition:.8s;

}
.row-align li a:hover { 
	color:#ff273b;
}


.sub-menu {
background-color: rgba(255,255,255,0.2); 
position:absolute;
z-index:200;
opacity: 0;
visibility: hidden;
transition: all 0.15s ease-in;
}

.sub-menu > li {
	padding: 0px 20px;
}

.user-menu:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

